<div id="aboutus-counting">
    <div class="d-flex justify-content-center">
        <div class="media" style="background-color: #F6F6F6;">
            <div class="media-body">
                <img class="icons" src="/Images/AboutUsPage/usericon.svg">
                <h5>236</h5>
                <p>Registered Customer</p>
            </div>
        </div>
        <div class="media" style="background-color: #EEEEEE;">
            <div class="media-body">
                <img class="icons" src="/Images/AboutUsPage/cartdownloadicon.svg">
                <h5>3254</h5>
                <p>Products Delivered</p>
            </div>
        </div>
        <div class="media" style="background-color: #F6F6F6;">
            <div class="media-body">
                <img class="icons" src="/Images/AboutUsPage/thumbsupicon.svg">
                <h5>685</h5>
                <p>5 Star Reviews</p>
            </div>
        </div>
        <div class="media" style="background-color: #EEEEEE;">
            <div class="media-body">
                <img class="icons" src="/Images/AboutUsPage/teamicon.svg">
                <h5>18</h5>
                <p>Team Members</p>
            </div>
        </div>
    </div>
</div>