<div id="aboutus-banner">
    <div class="container">
        <div class="text-header">
            <h3>We are a <span>ONLINE STORE</span></h3>
            <p>
                Vivamus dignissim a ex eu ornare.
                Ut fermentum orci vel diam ultricies faucibus.
                Quisque quis erat sed
            </p>
            <button id="btnlearnmore" type="button" class="btn btn">LEARN MORE</button>
        </div>
        <img src="/Images/AboutUsPage/bannerthumb.svg">
    </div>
</div>