<div id="aboutus-contents">
    <div class="alwaystry">
        <div class="collaboration">
            <img src="/Images/AboutUsPage/videoicon.svg" class="videoicon" />
            <div class="box">
                <h3>Always try to get the perfect collaboration</h3>
                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus</p>
            </div>
        </div>
        <div class="collaboration" style="background-color: #0E153D; opacity: 90%;">
            <div class="box1">
                <h3>Always try to get the perfect collaboration</h3>
                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus</p>
                <button id="btnlearnmore" type="button" class="btn btn">LEARN MORE</button>
            </div>
        </div>
        <div class="collaboration">
            <div class="box">
                <h3>Always try to get the perfect collaboration</h3>
                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus</p>
            </div>
        </div>
    </div>
</div>