<div id="aboutus-videoresponsible">
    <div class="container">
        <div style="position: relative; left: 0; top: 0;">
            <img src="/Images/AboutUsPage/videothumbnail.svg" class="videotn" />
            <img src="/Images/AboutUsPage/videoicon.svg" class="videoicon" />
        </div>
        <div class="text-header">
            <h3>We are a responsible quality online store</h3>
            <p class="p-first">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p class="p-green pl-3">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et.</p>
            <p class="p-second">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor. In hac habitasse platea dictumst. Nulla pulvinar, eros eget venenatis fermentum, lacus odio dapibus justo, sed semper quam purus quis lacus. Vestibulum vitae neque sed risus scelerisque ultricies.</p>
        </div>
    </div>
</div>