<div id="aboutus-business">
    <div class="container">
        <div class="text-header">
            <h5>Do business in a smart way with our theme</h5>
            <p class="p-first">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <div class="media">
                <img class="icons" src="/Images/AboutUsPage/bulbicon.svg">
                <div class="media-body">
                    <h3>It's a great ideas here</h3>
                    <p class="p-green">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat.</p>
                </div>
            </div>
            <div class="media">
                <img class="icons" src="/Images/AboutUsPage/awardicon.svg">
                <div class="media-body">
                    <h3>Taking the business into a certain goal with a easy way</h3>
                    <p class="p-green">Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor.</p>
                </div>
            </div>
            <div class="media">
                <img class="icons" src="/Images/AboutUsPage/diaryicon.svg">
                <div class="media-body">
                    <h3>Always try to get the perfect collaboration</h3>
                    <p class="p-green">It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                </div>
            </div>
        </div>
        <div style="position: relative; left: 0; top: 0;">
            <img src="/Images/AboutUsPage/contentthumb1.svg" class="ct1" />
            <img src="/Images/AboutUsPage/contentthumb2.svg" class="ct2" />
        </div>
    </div>
</div>