<div class="blog-navbar">
    <div id="navbar-standard">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav mr-auto">
                        <span class="navbar-brand">
                            Blog
                        </span>
                    </div>
                    <div class="navbar-nav">
                        <div class="navbar-text">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                            <a asp-controller="Blog" asp-action="Blog">Blog</a>
                            <span>
                                / Music is a mind fresher system
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div id="blog-details">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading">
                    <h3>Music is a mind fresher system</h3>
                    <p>By:<span> Jonathon Doe, </span>Date: <span>30 july 2020, </span>Category: <span>Entertainment</span></p>
                </div>
                <div class="bigcontentthumb">
                    <img src="/Images/Blogdetailspage/Bigcontentthumb.svg" alt="">
                </div>
                <div class="subtitle">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet ullamcorper congue. Nam lobortis eros in risus rhoncus gravida. Pellentesque enim lectus, laoreet sit amet rhoncus in, semper vitae odio. Proin congue malesuada posuere. Aenean dapibus et magna non dictum. Praesent ut lacinia dui, ac malesuada nisi.</p>
                    <p class="p-green pl-3">Aenean dapibus et magna non dictum. Praesent ut lacinia dui, ac malesuada nisi. Nullam pharetra, dui ac tincidunt pellentesque, diam elit dapibus augue, vel lobortis tortor neque eu velit. Aliquam ullamcorper semper feugiat. Etiam congue sollicitudin dolor a scelerisque.</p>
                    <p>Nullam pharetra, dui ac tincidunt pellentesque, diam elit dapibus augue, vel lobortis tortor neque eu velit. Aliquam ullamcorper semper feugiat. Etiam congue sollicitudin dolor a scelerisque. Donec ex dui, placerat quis mattis pulvinar, ultricies ut dolor. Sed eu iaculis magna. Morbi nisi lectus, efficitur in elit eget, volutpat viverra sapien. Suspendisse dignissim quis ipsum in maximus. Phasellus condimentum purus justo.</p>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="contentthumb">
                        <img id="thumbone" src="/Images/Blogdetailspage/Contentthumb.svg" alt="">
                        <img id="thumbtwo" src="/Images/Blogdetailspage/Contentthumb.svg" alt="">
                    </div>
                </div>
                <div class="social-media">
                    <div class="share-on btn">SHARE ON:</div>
                    <div class="facebook btn">Facebook</div>
                    <div class="twitter btn">Twitter</div>
                    <div class="pinterest btn">Pinterest</div>
                    <div class="instagram btn">Instagram</div>
                </div>
                <div class="tags">
                    <div class="fashion">Fashion</div>
                    <div class="shoes">Shoes</div>
                    <div class="sneakers">Sneakers</div>
                    <div class="music">Music</div>
                </div>
            </div>
            <div class="col">
                <div class='button-holder'>
                    <input type='text' placeholder='Search here' id='search-text-input' />
                    <button id="magnify" class="btn btn" type="button"><img src='/Images/Blogdetailspage/Search icon.svg' /></button>
                </div>
                <div class="sideheaderpost">
                    <h4>Recent Posts</h4>
                </div>

                <div class="sideposta">
                    <div class="smallcontentthumb">
                        <img src="/Images/Blogdetailspage/Smallcontentthumb.svg" alt="">
                    </div>
                    <div class="recentpoststext">
                        <p class="p-grey">  18 July 2020</p>
                        <p class="p-green">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies</p>
                    </div>
                </div>

                <div class="sidepostb">
                    <div class="smallcontentthumb">
                        <img src="/Images/Blogdetailspage/Smallcontentthumb.svg" alt="">
                    </div>
                    <div class="recentpoststext">
                        <p class="p-grey">  18 July 2020</p>
                        <p class="p-green">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies</p>
                    </div>
                </div>

                <div class="sidepostc">
                    <div class="smallcontentthumb">
                        <img src="/Images/Blogdetailspage/Smallcontentthumb.svg" alt="">
                    </div>
                    <div class="recentpoststext">
                        <p class="p-grey">  18 July 2020</p>
                        <p class="p-green">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies</p>
                    </div>
                </div>

                <div class="sideheadertags">
                    <h4>Tags</h4>
                </div>
                <div class="tagstwo">
                    <div class="design">Design</div>
                    <div class="education">Education</div>
                    <div class="entertainment">Entertainment</div>
                </div>
                <div class="tagstwog2">
                    <div class="featured">Featured</div>
                    <div class="health">Healt</div>
                    <div class="metro">Metro</div>
                    <div class="science">Science</div>
                </div>
                <div class="tagstwog3">
                    <div class="sports">Sports</div>
                    <div class="travels">Travels</div>
                </div>
                <div class="sideheaderinsta">
                    <h4>Recent Instagram</h4>
                </div>
                <div class="d-flex insta">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
                <div class="d-flex insta">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
                <div class="d-flex insta">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
                <div class="tag-categories">
                    <h3>Categories</h3>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Design <span>(2)</span> </p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Education <span>(1)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Entertainment <span>(3)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Featured <span>(2)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Health <span>(3)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Metro <span>(2)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Science<span>(4)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Sports <span>(5)</span></p>
                    </div>
                    <div class="cattags d-flex">
                        <p class="blogcategories">Travels <span>(3)</span></p>
                    </div>

                    <div class="tag-categories">
                        <h3>Archives</h3>
                        <div class="cattags d-flex">
                            <p class="blogcategories">December 2019<span>(7)</span> </p>
                        </div>
                        <div class="cattags d-flex">
                            <p class="blogcategories">November 2019 <span>(5)</span></p>
                        </div>
                        <div class="cattags d-flex">
                            <p class="blogcategories">Oktober 2019 <span>(5)</span></p>
                        </div>
                        <div class="cattags d-flex">
                            <p class="blogcategories">September 2019<span>(6)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="project">
        <div class="project-navbar">
            <div class="container">
                <div class="project-media">
                    <div class="col">
                        <div id="media1" class="media">
                            <img class="mr-3 mt-2" src="/Images/Blogdetailspage/RPsmallthumb.svg">
                            <div class="media-body">
                                <div class="heading">
                                    <img class="mr-2" src="/Images/Blogdetailspage/RPprearrow.svg">
                                    <h5>Previous Project</h5>
                                </div>
                                <p>Monica Creative and make us a proud things</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div id="media2" class="media">
                            <div class="media-body">
                                <div class="homeicon">
                                    <img src="/Images/Blogdetailspage/RPhomeicon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div id="media3" class="media">
                            <div class="media-body">
                                <div class="heading">
                                    <h5>Previous Project</h5>
                                    <img class="ml-2" src="/Images/Blogdetailspage/RPnextarrow.svg">
                                </div>
                                <p>The future fashion will be a easy beauty of women</p>
                            </div>
                            <img class="ml-3 mt-2" src="/Images/Blogdetailspage/RPsmallthumb.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="related-projects">
        <div class="container">
            <div class="title">
                <h3>RELATED <span>PROJECTS</span></h3>
                <img src="/Images/Blogdetailspage/waves.svg">
            </div>
            <div id="div1" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#div1" data-slide-to="0" class="active"></li>
                    <li data-target="#div1" data-slide-to="1"></li>
                    <li data-target="#div1" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div id="blog-contents1" class="carousel-item active">
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blog-contents1" class="carousel-item">
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blog-contents1" class="carousel-item">
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Blogdetailspage/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#div1" data-slide="prev">
                    <span><img src="/Images/Blogdetailspage/prevbtn.svg"></span>
                </a>
                <a class="carousel-control-next" href="#div1" data-slide="next">
                    <span><img src="/Images/Blogdetailspage/nextbtn.svg"></span>
                </a>
            </div>
        </div>
    </div>
</div>
