<div id="contact-info">
    <div class="container d-flex">
        <div class="col-4">
            <div class="kenkata">
                <img src="/images/Contact us/Kenkata logo.svg" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae,
                    tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet.
                </p>
                <div class="d-flex">
                    <div class="follow">
                        <p>Follow Us</p>
                    </div>
                    <div class="follow">
                        <l>______</l>
                    </div>
                </div>
                <div class="rektangular d-flex">
                    <img src="/images/Contact us/rektangular.svg" alt="">
                    <img src="/images/Contact us/rektangular.svg" alt="">
                    <img src="/images/Contact us/rektangular.svg" alt="">
                    <img src="/images/Contact us/rektangular.svg" alt="">
                    <img src="/images/Contact us/rektangular.svg" alt="">
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="contact-info">
                <h3>CONTACT INFO</h3>
                <div class="address">
                    <h2>Address:</h2>
                    <p>
                        Solna Buisness Park <br>
                        Feni-2500, Stockholm
                    </p>
                </div>
                <div class="address">
                    <h2>Phone:</h2>
                    <p>+08-123456789</p>
                    <p>+08-123456789</p>
                </div>
                <div class="address">
                    <h2>Email:</h2>
                    <p>support@website.com</p>
                    <p>info@website.com</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="useful-links">
                <h3>USEFUL LINKS</h3>
                <p>Privacy Policy</p>
                <p class="underline">Terms & Condition</p>
                <p>Contact Us</p>
                <p>Our SiteMap</p>
                <p>Latest News</p>
                <p>Returns</p>
            </div>
        </div>
        <div class="col-4">
            <div class="instagram">
                <h3>RECENT INSTAGRAM</h3>
                <div class="instapic d-flex">
                    <div class="hej"></div>
                    <div class="hej"></div>
                    <div class="hej"></div>
                </div>
                <div class="instapic d-flex">
                    <div class="hej"></div>
                    <div class="hej"></div>
                    <div class="hej"></div>
                </div>
                <div class="instapic d-flex">
                    <div class="hej"></div>
                    <div class="hej"></div>
                    <div class="hej"></div>
                </div>

            </div>
        </div>
    </div>
</div>