<div class="featuredproducts">
    <div class="container">

        <div id="carousel-title">
            <span id="header-first">FEATURED </span>
            <span id="header-second">PRODUCTS</span>
            <div>
                <img id="waves" src="images/LatestBlog/waves.svg" alt="" />
            </div>
            <p>Check out our monthly featured products from top brands</p>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="itemframe">
                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge hot">HOT</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge discount">50%</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="itemframe">
                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="itemframe">
                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sizediv">
                            <div class="box-item">
                                <span class="badge new">NEW</span>
                                <img src="Images/ProductPartial/Product thumb.png" alt="">
                                <span>Circle pattern girls shirt</span>

                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>

                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span><i class="fas fa-chevron-left" aria-hidden="true"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
                <span class="sr-only">Next</span>
            </a>


        </div>
    </div>
</div>  