<div class="flashsale">
    <div class="container">
        <div class="flash">
            <div class="flashinfo">
                <h1>FLASH</h1>
                <h1>SALE</h1>
                <h3>UP TO 50% OFF</h3>
            </div>
        </div>
        <div class="countdown">
            <div class="counter">
                <div class="count">
                    <h3 class="amount" id="day"></h3>
                    <p class="unit">Days</p>
                </div>
                <div class="count">
                    <h3 class="amount" id="hour"></h3>
                    <p class="unit">Hours</p>
                </div>
                <div class="count">
                    <h3 class="amount" id="minute"></h3>
                    <p class="unit">Minutes</p>
                </div>
                <div class="count">
                    <h3 class="amount" id="second"></h3>
                    <p class="unit">Seconds</p>
                </div>
            </div>
            <button id="btn3" type="button" class="btn">SHOP NOW</button>
        </div>

    </div>
</div>