<div id="kenkata-footer">
    <div class="container d-flex">
        <div class="copyright d-flex">
            <p class="footer-text">© Copyright 2020 KenKata</p>
        </div>
        <div class="footer-images d-flex">
            <img class="footer-img" src="/Images/Footer/MasterCard logo.svg" alt="">
            <img class="footer-img" src="/Images/" alt="">
            <img class="footer-img" src="/Images/Footer/Visa logo.svg" alt="">
            <img class="footer-img" src="/Images/Footer/Payoneer.svg" alt="">
            <img class="footer-img" src="/Images/Footer/Discover network.svg" alt="">
        </div>
    </div>
</div>  