<div class="four-tools">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="box">
                <img class="box-img" src="/Images/FourTools/path593green.svg" />
                <div class="text">
                    <p class="card-text1">Free shipping</p>
                    <p class="card-text">For a local customer, we provide free shipping facility.</p>
                </div>
            </div>
            <div class="box">
                <img class="box-img" src="/Images/FourTools/24icon.svg" />
                <div class="text">
                    <p class="card-text1">24/7 support</p>
                    <p class="card-text">For any inquiry, we are available 24 hours every day.</p>
                </div>
            </div>
            <div class="box">
                <img class="box-img" src="/Images/FourTools/paymenticon.svg" />
                <div class="text">
                    <p class="card-text1">Online payment</p>
                    <p class="card-text">You can pay quickly and easily with our online payment system.</p>
                </div>
            </div>
            <div class="box">
                <img class="box-img" src="/Images/FourTools/outline.svg" />
                <div class="text">
                    <p class="card-text1">Fast delivery</p>
                    <p class="card-text">We understand your urgency and we deliver in a fast way.</p>
                </div>
            </div>
        </div>
    </div>
</div>