

<div class="number-input">
    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="fas fa-minus"></button>
    <input class="quantity" min="1" name="quantity" value="1" type="number">
    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="fas fa-plus"></button>
</div>