<div id="logos">
    <div class="container">
        <div class="d-flex">
            <div class="logo-5">
                <img src="/images/logos/Bexim.svg" alt="">
            </div>
            <div class="logo-5">
                <img src="/images/Logos/Lighton.svg" alt="">
            </div>
            <div class="logo-5">
                <img src="/images/Logos/Dismis.svg" alt="">
            </div>
            <div class="logo-5">
                <img src="/images/Logos/Rosimo.svg" alt="">
            </div>
            <div class="logo-5">
                <img src="/images/Logos/Dallas.svg" alt="">
            </div>
        </div>
    </div>
</div>