<div class="portfolio-navbar">
    <div id="navbar-standard">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav mr-auto">
                        <span class="navbar-brand">
                            Portfolio
                        </span>
                    </div>
                    <div class="navbar-nav">
                        <div class="navbar-text">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                            <a asp-controller="Pages" asp-action="Portfolio">/ Portfolio</a>
                            <span>
                                / Women's fashion choice
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div id="portfolio-details">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading">
                    <h3>In these days women's fashion became great!</h3>
                    <p>Date: <span>30 July 2020</span>, Category: <span>Fashion</span></p>
                </div>
                <div class="subtitle">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="p-green pl-3">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et.</p>
                    <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor. In hac habitasse platea dictumst.</p>
                </div>
                <div class="contentthumbs">
                    <div class="contentthumb">
                        <img src="/Images/Portfolio/Details/contentthumb.svg">
                        <img src="/Images/Portfolio/Details/contentthumb.svg">
                    </div>
                    <div class="bigcontentthumb">
                        <img src="/Images/Portfolio/Details/bigcontentthumb.svg">
                    </div>
                </div>
                <div class="social-media">
                    <div class="share-on btn">SHARE ON:</div>
                    <div class="facebook btn">Facebook</div>
                    <div class="twitter btn">Twitter</div>
                    <div class="pinterest btn">Pinterest</div>
                    <div class="instagram btn">Instagram</div>
                </div>
                <div class="tags">
                    <div class="fashion">Fashion</div>
                    <div class="shoes">Shoes</div>
                    <div class="sneakers">Sneakers</div>
                </div>
            </div>
            <div class="col">
                <div class="bigcontentthumb">
                    <img src="/Images/Portfolio/Details/bigcontentthumb1.svg">
                </div>
                <div class="subtitle">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="p-green pl-3">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean laoreet ullamcorper congue. Nam lobortis eros in risus rhoncus gravida. Pellentesque enim lectus, laoreet sit amet rhoncus in, semper vitae odio. Proin congue malesuada posuere. Aenean dapibus et magna non dictum. Praesent ut lacinia dui, ac malesuada nisi. Nullam pharetra, dui ac tincidunt pellentesque, diam elit dapibus augue, vel lobortis tortor neque eu velit.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="project">
        <div class="project-navbar">
            <div class="container">
                <div class="project-media">
                    <div class="col">
                        <div id="media1" class="media">
                            <img class="mr-3 mt-2" src="/Images/Portfolio/Details/smallthumb.svg">
                            <div class="media-body">
                                <div class="heading">
                                    <img class="mr-2" src="/Images/Portfolio/Details/prearrow.svg">
                                    <h5>Previous Project</h5>
                                </div>
                                <p>Monica Creative and make us a proud things</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div id="media2" class="media">
                            <div class="media-body">
                                <div class="homeicon">
                                    <img src="/Images/Portfolio/Details/homeicon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div id="media3" class="media">
                            <div class="media-body">
                                <div class="heading">
                                    <h5>Previous Project</h5>
                                    <img class="ml-2" src="/Images/Portfolio/Details/nextarrow.svg">
                                </div>
                                <p>The future fashion will be a easy beauty of women</p>
                            </div>
                            <img class="ml-3 mt-2" src="/Images/Portfolio/Details/smallthumb.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="related-projects">
        <div class="container">
            <div class="title">
                <h3>RELATED <span>PROJECTS</span></h3>
                <img src="/Images/Portfolio/Details/path591.svg">
            </div>
            <div id="div1" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#div1" data-slide-to="0" class="active"></li>
                    <li data-target="#div1" data-slide-to="1"></li>
                    <li data-target="#div1" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div id="portfolio-contents1" class="carousel-item active">
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio-contents1" class="carousel-item">
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio-contents1" class="carousel-item">
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collaboration">
                            <div class="hovering-layer">
                                <ul><li><a href="#"><img src="/Images/Portfolio/plusicon.svg"></a></li></ul>
                                <div class="pr-item-content">
                                    <h2>Kids fashion are great</h2>
                                    <ul class="tags-list">
                                        <li><button type="button" class="tag">Fashion</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#div1" data-slide="prev">
                    <span><img src="/Images/Review/prevbtn.svg"></span>
                </a>
                <a class="carousel-control-next" href="#div1" data-slide="next">
                    <span><img src="/Images/Review/nextbtn.svg"></span>
                </a>
            </div>
        </div>
    </div>
</div>