<div id="shop-sidemenu">
    <div id="shop-productcategories">
        <h3>Product Categories</h3>
        <div class="prod-category d-flex">
            <p>Men´s</p>
            <p class="numberincat">18</p>
        </div>
        <div class="prod-category d-flex">
            <p>Women´s</p>
            <p class="numberincat">23</p>
        </div>
        <div class="prod-category d-flex">
            <p>Kids</p>
            <p class="numberincat">32</p>
        </div>
        <div class="prod-category d-flex">
            <p>Hats</p>
            <p class="numberincat">12</p>
        </div>
        <div class="prod-category d-flex">
            <p>Sunglasses</p>
            <p class="numberincat">15</p>
        </div>
        <div class="prod-category d-flex">
            <p>Shoes</p>
            <p class="numberincat">12</p>
        </div>
        <div class="prod-category d-flex">
            <p>Shoes</p>
            <p class="numberincat">20</p>
        </div>
    </div>
</div>