@model KenKata.Entities.Product




<div id="productbanner">
    <div class="container">
        <div class="banner">
            <div class="shop">
                <a class="p-bannerlinks" asp-controller="Home" asp-action="Index">Home</a> /
                <a class="p-bannerlinks" asp-controller="Shop" asp-action="Index">Shop</a> /
                <a style="color:#20D3C2;" class="p-bannerlinks">@Html.DisplayFor(model => model.Category.CategoryName)</a> /
                <a class="name-bannerlinks">@Html.DisplayFor(model => model.ProductName)</a>
            </div>
            <div class="d-flex p-banner-right">
                <img class="brandpic" src="/images/Logos/Bexim.svg" alt="">
                <i class="fas fa-chevron-left"></i>
                <a asp-controller="Shop" asp-action="Index">
                    <img class="product-gotohome" src="/images/ShopPage/Shopbanner/icon2.svg" alt="">
                </a>
                <i class="fas fa-chevron-right"></i>                
            </div>
        </div>
    </div>
</div>