@model IEnumerable<KenKata.Entities.Product>

@foreach (var product in Model)
{
<div class="box-item mb-3 mr-3">
    <span class="badge new">NEW</span>
    <img src="Images/ProductPartial/Product thumb.png" alt="">
    <span>@product.ProductName</span>

    <div class="hovering-layer">
        <ul>
            <li>
                <a href="#">
                    <img src="Images/ProductPartial/Color.png">
                    <div id="colorlist" class="label have-grid">
                        <ul>
                            <li class="green"></li>
                            <li class="pink"></li>
                            <li class="orange"></li>
                            <li class="black"></li>
                        </ul>
                    </div>
                </a>
            </li>
            <li><a href="#"><img src="Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
            <li><a href="#"><img src="Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
            <li><a href="#"><img src="Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
            <li><a href="#"><img src="Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
        </ul>
        <div class="pr-item-content">
            <h2>@product.ProductName</h2>
            <ul class="tags-list">
                <li>
                    <button class="tag">Fashion</button>
                    <a asp-action="Details" asp-route-id="@product.ProductId" class="pl-1" style="color:white">Details</a>
                </li>
            </ul>
            <p class="old-price">$220.00</p>
            <p class="new-price">$@product.Price</p>
        </div>
    </div>
    
</div>
}

