<div class="review">
    <div class="container">
        <div id="div" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#div" data-slide-to="0" class="active"></li>
                <li data-target="#div" data-slide-to="1"></li>
                <li data-target="#div" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <div><img src="/Images/Review/review.svg"></div>
                    <div><img class="mt-5" src="/Images/Review/testimonial-thumb.svg"></div>
                    <div><img class="mt-5" src="/Images/Review/group73.svg"></div>
                    <div class="carousel-caption">
                        <h3>JOHNY WESMULLAR</h3>
                        <p>CEO, Biotech Inc.</p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div><img src="/Images/Review/review.svg"></div>
                    <div><img class="mt-5" src="/Images/Review/testimonial-thumb.svg"></div>
                    <div><img class="mt-5" src="/Images/Review/group73.svg"></div>
                    <div class="carousel-caption">
                        <h3>CAREN MASON</h3>
                        <p>STAAR Surgical.</p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div><img src="/Images/Review/review.svg"></div>
                    <div><img class="mt-5" src="/Images/Review/testimonial-thumb.svg"></div>
                    <div><img class="mt-5" src="/Images/Review/group73.svg"></div>
                    <div class="carousel-caption">
                        <h3>TIMOTHY WRIGHT</h3>
                        <p>MiMedx Group.</p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries.
                        </p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#div" data-slide="prev">
                    <span><img src="/Images/Review/prevbtn.svg"></span>
                </a>
                <a class="carousel-control-next" href="#div" data-slide="next">
                    <span><img src="/Images/Review/nextbtn.svg"></span>
                </a>
            </div>
        </div>
    </div>
</div>