<div id="shoppingcartbanner">
    <div class="shoppingcartbanner-title">
        <h3>ShoppingCart</h3>
        <i class="fas fa-chevron-right"></i>
        <h3 class="h3-white">Checkout</h3>
        <i class="fas fa-chevron-right"></i>
        <h3 class="h3-white">Order Complete</h3>
    </div>
</div>