<div id="shopbycategory">
    <div class="container">
        <div id="shopcattitle">
            <span id="title-shopby">SHOP BY</span>
            <span id="title-category">CATEGORY</span>
            <div>
                <img src="/images/Shop by category/waves.svg" alt="">
            </div>
            <p>We always try to give you the best product within a fast and reliable way</p>
        </div>
        <div id="category-box-1" class="category-box">
            <button>Men</button>
        </div>
        <div id="category-box-2" class="category-box">
            <button>Women</button>
        </div>
        <div id="category-box-3" class="category-box">
            <button>Kids</button>
        </div>
        <div id="category-box-4" class="category-box">
            <button>Shoes</button>
        </div>
        <div id="category-box-5" class="category-box">
            <button>Hats</button>
        </div>
        <div id="category-box-6" class="category-box">
            <button>
                Sunglasses
                <p>18 products</p>
            </button>
        </div>
        <div id="category-box-7" class="category-box">
            <button>Watches</button>
        </div>
    </div>
</div>   