<div id="coupon-code">
    <div class="container mt-5">
        <div class="coupon-box">
            <div class="coupon-text">
                <p>If you have a coupon code, please apply it below.</p>
            </div>
            <div class="coupon-input">
                <input id="coupon-inp" type="text" class="form-control" placeholder="Coupon code">
            </div>
            <button id="coupon-btn" type="button" class="btn btn-primary">Apply Coupon</button>
        </div>
    </div>
</div>