<div id="shopbanner">
    <div class="container">
        <div class="banner">
            <div class="shop">
                <h3>Shop</h3>
                <span><p id="spanhome">Home</p>/<p id="spanshop">Shop</p></span>
            </div>
            <div class="bannerbtn">
                <button id="banner-btn1">
                    <span class="d-flex">
                        <p>Show:</p>
                        <p>9</p>
                        <p>/</p>
                        <p>12</p>
                        <p>/</p>
                        <p>18</p>
                        <p>/</p>
                        <p>24</p>
                    </span>
                </button>
                <button id="banner-btn2">
                    <img src="/images/ShopPage/Shopbanner/icon1.svg" alt="">
                    <img src="/images/ShopPage/Shopbanner/icon2.svg" alt="">
                    <img src="/images/ShopPage/Shopbanner/icon3.svg" alt="">
                </button>
                <button id="banner-btn3">
                    <p>Default sorting</p>
                    <div>
                        <img src="/images/ShopPage/Shopbanner/arrowdown.svg" alt="">
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>