<div class="showcase-shop">
    <div class="container">
        <div class="text">
            <div id="title">
                <h2>New Customer Can Get <span>30% Off</span></h2>
            </div>
            <button id="learn" type="button" class="btn btn">LEARN MORE</button>
        </div>
        <img class="shoe1" src="/Images/ShopPage/Showcase/product-thumb.svg" />
        <button id="label1" type="button" class="btn btn">NEW</button>
        <button id="label2" type="button" class="btn btn">-20%</button>
        <img class="shoe2" src="/Images/ShopPage/Showcase/product-thumb1.svg">
    </div>
</div>