<div id="shop-filterbysize">
    <h3>Filter by Size</h3>
    <div class="filter-size d-flex">
        <p>XS</p>
        <p class="numberinsize">18</p>
    </div>
    <div class="filter-size d-flex">
        <p>S</p>
        <p class="numberinsize">23</p>
    </div>
    <div class="filter-size d-flex">
        <p>M</p>
        <p class="numberinsize">32</p>
    </div>
    <div class="filter-size d-flex">
        <p>L</p>
        <p class="numberinsize">12</p>
    </div>
    <div class="filter-size d-flex">
        <p>XL</p>
        <p class="numberinsize">15</p>
    </div>
    <div class="filter-size d-flex">
        <p>XXL</p>
        <p class="numberinsize">12</p>
    </div>
</div>