<div id="shop-productstatus">
    <h3>Product Status</h3>
    <div class="statusbox">
        <label class="status-check">
            On Sale
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="statusbox">
        <label class="status-check">
            In Stock
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div>