<div id="shop-filterbybrand">
    <h3>Filter by Brand</h3>
    <div id="brand-grid">
        <div id="brand-box-1" class="brand-icons">
            <img src="images/ShopPage/Filterbybrand/Bexim.svg" alt="">
        </div>
        <div id="brand-box-2" class="brand-icons">
            <img src="images/ShopPage/Filterbybrand/Lighton.svg" alt="">
        </div>
        <div id="brand-box-3" class="brand-icons">
            <img src="/images/ShopPage/Filterbybrand/Dismis.svg" alt="">
        </div>
        <div id="brand-box-4" class="brand-icons">
            <img src="/images/ShopPage/Filterbybrand/Rosimo.svg" alt="">
        </div>
        <div id="brand-box-5" class="brand-icons">
            <img src="/images/ShopPage/Filterbybrand/Dallas.svg" alt="">
        </div>
        <div id="brand-box-6" class="brand-icons">
            <img src="/images/ShopPage/Filterbybrand/Concord.svg" alt="">
        </div>
    </div>
</div>