<div id="shop-youmayalsolike">
    <div class="container mt-5 pt-3">
        <div class="title">
            <h3>YOU MAY <span>ALSO LIKE</span></h3>
            <img src="/Images/Portfolio/Details/path591.svg">
        </div>
    </div>

    <div id="carousel-youmayalsolike">
        <div class="container">
            <div id="div" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#div" data-slide-to="0" class="active"></li>
                    <li data-target="#div" data-slide-to="1"></li>
                    <li data-target="#div" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div id="youmayalsolike-contents" class="carousel-item active">
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge new">NEW</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge new">NEW</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb1.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge procent">-20%</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb2.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge procent">-20%</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb3.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="youmayalsolike-contents" class="carousel-item">
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge new">NEW</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge new">NEW</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb1.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge procent">-20%</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb2.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge procent">-20%</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb3.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="youmayalsolike-contents" class="carousel-item">
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge new">NEW</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge new">NEW</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb1.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge procent">-20%</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb2.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="box">
                            <div class="box-item" style="height: 293px; width: 255px;">
                                <span class="badge procent">-20%</span>
                                <img src="/Images/ShopPage/YouMayAlsoLike/productthumb3.svg">
                                <span>Circle pattern girls shirt</span>
                                <div class="hovering-layer">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="/Images/ProductPartial/Color.png">
                                                <div id="colorlist" class="label have-grid">
                                                    <ul>
                                                        <li class="green"></li>
                                                        <li class="pink"></li>
                                                        <li class="orange"></li>
                                                        <li class="black"></li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Heart icon.png"> <span class="label">Like</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Compare icon.png"> <span class="label">Compare</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Search icon.png"> <span class="label">Search</span></a></li>
                                        <li><a href="#"><img src="/Images/ProductPartial/Cart icon.png"> <span class="label">Add to cart</span></a></li>
                                    </ul>
                                    <div class="pr-item-content">
                                        <h2>Circle pattern girls shirt</h2>
                                        <ul class="tags-list">
                                            <li><button class="tag">Fashion</button></li>
                                        </ul>
                                        <p class="old-price">$220.00</p>
                                        <p class="new-price">$190.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#div" data-slide="prev">
                    <span><img src="/Images/ShopPage/YouMayAlsoLike/prevbtn.svg"></span>
                </a>
                <a class="carousel-control-next" href="#div" data-slide="next">
                    <span><img src="/Images/ShopPage/YouMayAlsoLike/nextbtn.svg"></span>
                </a>
            </div>
        </div>
    </div>
</div>