<div id="shop-filterbycolor">
    <h3>Filter by Color</h3>
    <div class="filter-colors d-flex">
        <div class="color-section d-flex">
            <button id="filterbtn" class="btn-black"></button>
            <p>Black</p>
        </div>
        <p class="numberincolor">12</p>
    </div>
    <div class="filter-colors d-flex">
        <div class="color-section d-flex">
            <button id="filterbtn" class="btn-gray"></button>
            <p>Gray</p>
        </div>
        <p class="numberincolor">20</p>
    </div>
    <div class="filter-colors d-flex">
        <div class="color-section d-flex">
            <button id="filterbtn" class="btn-red"></button>
            <p>Red</p>
        </div>
        <p class="numberincolor">18</p>
    </div>
    <div class="filter-colors d-flex">
        <div class="color-section d-flex">
            <button id="filterbtn" class="btn-green"></button>
            <p>Green</p>
        </div>
        <p class="numberincolor">25</p>
    </div>
    <div class="filter-colors d-flex">
        <div class="color-section d-flex">
            <button id="filterbtn" class="btn-orange"></button>
            <p>Orange</p>
        </div>
        <p class="numberincolor">9</p>
    </div>
    <div class="filter-colors d-flex">
        <div class="color-section d-flex">
            <button id="filterbtn" class="btn-brown"></button>
            <p>Brown</p>
        </div>
        <p class="numberincolor">7</p>
    </div>
</div>