<div id="shop-filterbyprice">
    <h3>Filter by Price</h3>
    <img src="/images/ShopPage/Filterbyprice/Price slider.svg" alt="">
    <div class="filter-price d-flex">
        <p>Price: $0 - $10,000</p>
        <button>Filter</button>
    </div>
</div>