<div class="showcase">
    <div class="container">
        <div class="text">
            <div id="title">
                <h2>Shopping is</h2>
                <h1>MORE FUN</h1>
            </div>
            <div id="subtitle">
                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed.</p>
            </div>
            <button id="shownow" type="button" class="btn btn">SHOP NOW</button>
        </div>
        <img src="/Images/Showcase/banner-thumb.svg" />
    </div>
</div>