<div id="subscription">
    <div class="container">
        <div class="subscribe">
            <span id="title-subscribe">SUBSCRIBE</span>
            <span id="title-now">NOW</span>
            <p id="p">Signup for awesome news about our new products and know our special discounts on products.</p>
            <div class="custom-search">
                <input type="text" class="custom-search-input" placeholder="Enter email address">
                <button class="btn btn" type="button">Subscribe</button>
            </div>
        </div>
        <div class="box2"></div>
    </div>
</div>