<div id="special-moments">
    <div class="special-title">
        <h3>Some <span>special moments</span></h3>
        <h3>from our company</h3>
        <p>
            It has survived not only five centuries, but also the leap into electronic
            <br>typesetting, remaining essentially unchanged.
        </p>
    </div>
    <div class="moments">
        <div class="special-moment">
        </div>
        <div class="special-moment">
        </div>
        <div class="special-moment">
        </div>
    </div>
</div>