<div id="team-banner">
    <div class="team-banner-title container">
        <div class="d-flex">
            <h3>An</h3>
            <h3 class="awsome-team">Awsome Team</h3>
        </div>
        <h3>Behind Our Online store</h3>
    </div>
</div>