<div id="team-our-team">
    <div class="container">
        <div class="our-team-title">
            <div>
                <h3>Behind in every successful business,</h3>
                <h3>there have a strong qualified person</h3>
            </div>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text ever since the 1500s,
                when an unknown printer took.
            </p>
        </div>
        <div id="team-grid">
            <div id="teambox-1" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">JOHN DOE</h3>
                        <p class="card-text">Managing Director</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-2" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-1.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">SHAKIL HASAN</h3>
                        <p class="card-text">Marketing Manager</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-3" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-2.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">MICHAEL JORDAN</h3>
                        <p class="card-text">General Manager</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-4" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-3.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">WILLIUM CARRY</h3>
                        <p class="card-text">Quality Manager</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-5" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-4.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">ALAUDDIN SHEIKH</h3>
                        <p class="card-text">Printing Manager</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-6" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-5.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">SHAWPAN MIAH</h3>
                        <p class="card-text">Social Manager</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-7" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-6.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">RANI SAMINA</h3>
                        <p class="card-text">Graphic Designer</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="teambox-8" class="teambox d-flex">
                <div class="card" style="width: 15.9375rem;">
                    <img src="/images/TeamPage/Team thumb-7.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">ABUL HOSSEN</h3>
                        <p class="card-text">Computer Operator</p>
                        <div class="team-card-layer d-flex">
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                            <div class="rekt"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>