<div class="thirtysale">
    <div class="container">
        <div class="thirtyoff">
            <div class="saleinfo">
                <h1>30%</h1>
                <h2>OFF</h2>
            </div>
            <p>FOR NEW CUSTOMERS</p>
            <button id="btn1" type="button" class="btn">SHOP NOW</button>
        </div>
        <div class="learnmore">
            <p>
                Donec pulvinar arcu vitae ipsum varius cursus. Nunc iaculis fermentum iaculis.
                Nunc pulvinar purus at erat lacinia, ut convallis nibh consequat. Integer nulla nisi, aliquam at tellus a, viverra scelerisque purus. Nam pretium iaculis ultrices.
            </p>
            <button id="btn2" type="button" class="btn">LEARN MORE</button>
        </div>
    </div>
</div>