

<div id="error404">
    <div class="container">
        <div>
            <img src="/images/Error/404.svg" alt="">
        </div>
        <div>
            <p>Oops! The Page you are looking for doesn´t exist.</p>
        </div>
        <div class="btn">
            <button id="btnhome">HOME</button>
            <button class="btncontactUs">Contact Us</button>
        </div>
    </div>
</div>

